/*
    C-POS
    Composant générique CSS ITADS
    https://github.com/ita-design-system/c-pos.scss
*/
// SCSS map
$briks-components-generic: ( 
    // Nom du composant
    pos: ( 
        // Composant activé true ou false
        enabled: true, 
        // Responsive activé true ou false
        responsive: true, 
        // Liste des propriétés c-flex par défaut
        defaults: (),
        // Rendu: 
        // c-pos {
        // }
        // Liste des modifieurs contenant chacun une liste de propriétés qui 
        // soit surchargent les propriétés par défaut
        // soit ajoutent des propriétés
        // soit les deux
        modifiers: ( 
            // c-pos m-absolute
            absolute: (
                position: absolute
            ),
            // c-pos m-fixed
            fixed: (
                position: fixed
            ),
            // c-pos m-sticky
            sticky: (
                position: sticky
            ),
            // c-pos m-relative
            relative: (
                position: relative
            ),
            // c-pos m-top-left
            top-left: (
                top: 0%,
                left: 0%
            ),
            // c-pos m-top-center
            top-center: (
                top: 0%,
                left: 50%
            ),
            // c-pos m-top-right
            top-right: (
                top: 0%,
                left: 100%
            ),
            // c-pos m-middle-left
            middle-left: (
                top: 50%,
                left: 0%
            ),
            // c-pos m-middle-center
            middle-center: (
                top: 50%,
                left: 50%
            ),
            // c-pos m-middle-right
            middle-right: (
                top: 50%,
                left: 100%
            ),
            // c-pos m-bottom-left
            bottom-left: (
                top: 100%,
                left: 0%
            ),
            // c-pos m-bottom-center
            bottom-center: (
                top: 100%,
                left: 50%
            ),
            // c-pos m-bottom-right
            bottom-right: (
                top: 100%,
                left: 100%
            ),
            // c-pos m-top-0
            top-0: (
                top: 0%
            ),
            // c-pos m-top-50
            top-50: (
                top: 50%
            ),
            // c-pos m-top-100
            top-100: (
                top: 100%
            ),
            // c-pos m-right-0
            right-0: (
                right: 0%
            ),
            // c-pos m-right-50
            right-50: (
                right: 50%
            ),
            // c-pos m-right-100
            right-100: (
                right: 100%
            ),
            // c-pos m-bottom-0
            bottom-0: (
                bottom: 0%
            ),
            // c-pos m-bottom-50
            bottom-50: (
                bottom: 50%
            ),
            // c-pos m-bottom-100
            bottom-100: (
                bottom: 100%
            ),
            // c-pos m-left-0
            left-0: (
                left: 0%
            ),
            // c-pos m-left-50
            left-50: (
                left: 50%
            ),
            // c-pos m-left-100
            left-100: (
                left: 100%
            ),
            // c-pos m-anchor-top-left
            anchor-top-left: (
                transform: translateX(0%) translateY(0%)
            ),
            // c-pos m-anchor-top-center
            anchor-top-center: (
                transform: translateX(-50%) translateY(0%)
            ),
            // c-pos m-anchor-top-right
            anchor-top-right: (
                transform: translateX(-100%) translateY(0%)
            ),
            // c-pos m-anchor-middle-left
            anchor-middle-left: (
                transform: translateX(0%) translateY(-50%)
            ),
            // c-pos m-anchor-middle-center
            anchor-middle-center: (
                transform: translateX(-50%) translateY(-50%)
            ),
            // c-pos m-anchor-middle-right
            anchor-middle-right: (
                transform: translateX(-100%) translateY(-50%)
            ),
            // c-pos m-anchor-bottom-left
            anchor-bottom-left: (
                transform: translateX(0%) translateY(-100%)
            ),
            // c-pos m-anchor-bottom-center
            anchor-bottom-center: (
                transform: translateX(-50%) translateY(-100%)
            ),
            // c-pos m-anchor-bottom-right
            anchor-bottom-right: (
                transform: translateX(-100%) translateY(-100%)
            ),
            // c-pos m-z--1
            z--1: (
                z-index: -1
            ),
            // c-pos m-z-1
            z-1: (
                z-index: 100
            ),
            // c-pos m-z-2
            z-2: (
                z-index: 200
            ),
            // c-pos m-z-3
            z-3: (
                z-index: 300
            ),
            // c-pos m-z-4
            z-4: (
                z-index: 400
            ),
            // c-pos m-z-5
            z-5: (
                z-index: 500
            )
        )
    )
);